.header {
    height: 6vh;
    min-height: 50px;
    background-color: gray;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    margin-right: 100px;
}

.firstLine {
    display: flex;
    gap: 20px;
}

.name {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.languageContainer button {
    background: none;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
}

.flagIcon {
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.modal_container {
    display: flex;
    position: absolute;
}

.background {
    height: 93.2vh;
    background-color: gray;
    opacity: 70%;
    width: 70vw;
    z-index: 10;
}

.modal {
    height: 93.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 30vw;
    z-index: 10;
}

@media (max-width: 744px) {

    .header {
       height: 30vh;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-right: 0;
    }

    .name {
        font-size: 24px;
        padding: 0;
    }
}
